.card {
  border: 0;
  margin: 5px auto;
  display: flex;
}
.card .card-body {
  z-index: 2;
  margin-top: 0rem;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.card img {
  position: relative;
  opacity: 1;
  opacity: 0.85;
  transition: 0.5s ease;
}
.card:hover img {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}

.card .card-body,
.card .card-image {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18), 0 4px 6px 0 rgba(0, 0, 0, 0.15);
}
